 
{% load static %}

{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-primary bg-gradient">
        <div class="container-fluid">
            <a class="navbar-brand" href="{%  url 'home' %}">openBlog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Accueil</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Catégories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">cat 1</a></li>
                            <li><a class="dropdown-item" href="#">cat 2</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link text-dark">Devenir Auteur</a></li>
                    </li>
                </ul>
            
            <div class="text-end d-flex">
                <a href="#" class="btn btn-info btn-outline-ligth me-2 ">&Agrave; propos de openBlog</a>
                <button type="button" class="btn btn-dark btn-outline-ligth me-2">connexion</button>
                <button type="button" class="btn btn-secondary btn-outline-ligth">créer un compte</button>
                </div>
          </div>
        </div>
      </nav>
    
<div class="container">
    <main>
        <section>
            {% block content %} 
            {% endblock %}
        </section>
    </main>
    </div>

</body>
</html>