{% extends 'blog/base.html' %}

{% block content %}

  
    <h1 class="m-4 text-center ">
        <b class="text-info ">Articles publiés recemment</b>
    </h1>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% for post in object_list %}  
            <div class="col">
                <div class="card m-2 rounded-3 shadow-sm">
                    <div class="card">
                        <img src="{{ post.image.url }}" style="height: 250px; width: 350px;" class="card-img-top img-fluid mx-auto d-block" alt="">
                        <div class="card-body" style="text-align: justify; text-justify: inter-word;">
                            <h3 class="card-title">{{ post.title }}</h3>
                            <p class="card-text"> {{ post.intro|safe|truncatewords:50 }} </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Publié le {{ post.date_added|date:'j F Y' }}</li>
                            <li class="list-group-item">Par {{ post.slug }}</li>
                        </ul>
                        <a href="detail/{{ post.slug }}" class="btn btn-primary">Lire l'article</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


   <!-- Pagination -->
   <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="{% url 'home' %}?page=1">&laquo; première</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="{% url 'home' %}?page={{ page_obj.previous_page_number }}">précédente</a>
      </li>
      {% endif %}
      
      <li class="page-item active" aria-current="page">
        <span class="page-link">page {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</span>
      </li>
      
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="{% url 'home' %}?page={{ page_obj.next_page_number }}">suivant &raquo;</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="{% url 'home' %}?page={{ page_obj.paginator.num_pages }}">dernière</a>
        </li>
      {% endif %}
    </ul>
  </nav>


{% endblock %}