{% extends 'blog/base.html' %}
{% load bootstrap5 %}
{% block content %}

<div class="py-5 text-center bg-light">
    <h1> {{ article.title }} </h1>
    <p>publié le {{ article.date_added }}</p>

    <img src="{{ article.image.url }}" class="img-fluid rounded .img-thumbnail d-block mx-auto mb-4" 
        alt="{{ article.title }}">
    
    <p class="text-wrap ">
        {{ article.intro }}
    </p><p>
        {{ article.body }}
    </p class="text-justify">
</div>

{% for comment in comments%}
<article>
    <strong class="text_align-left text-success">
        {{ comment.name }} | {{ comment.date_added }}
    </strong>
    <div style="text-align: justify; text-justify: inter-word;" >
        <p style="font-family: Arial Hevetica sans-serif;"> 
            {{ comment.body }}
        </p>
    </div>
    {% empty %}
    <p> Pas de commentaires </p>
</article>
{% endfor %}

<h3 class="mb-2"> Ajouter un commentaire</h3>

{# Display a form #}
<form action="" method="POST" class="form  text-white form-control form-control-lg bg-dark">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary text-white"> Commenter </button>
    {% endbuttons %}
</form>

{% endblock %}